{% extends "base.html.j2" %}

{% block content %}
<div>
    <h1 class="text-3xl font-bold mb-4">Welcome to FaceBot</h1>
    <a class="btn" href="/bot">Bot</a>
    <a class="btn" href="/client">Human</a>
</div>
{% endblock content %}